.main-index {
   height: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url(../img/fondo5.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
}

.titulos {
   color: white;
   max-width: 100vh;
   margin-top: 30%;
}